/**
 * Grid wrapper
 */
.grid{
    margin-left: -20px;
    list-style:none;
    margin-bottom:0;
}


    /**
     * Very infrequently occuring grid wrappers as children of grid wrappers.
     */
    .grid > .grid{
        margin-left:0;
    }


    /**
     * Grid
     */
    .grid__item{
        display:inline-block;
        width:100%;
        padding-left: 20px;
        vertical-align:top;
        float: left;
        @if $global-border-box == false{
            @include vendor(box-sizing, border-box);
        }
    }
