@charset "UTF-8";
/*------------------------------------* 
   $TÄBY FLYERS LANDING PAGE 
*------------------------------------*/
/*------------------------------------* 
   $CONTENTS 
*------------------------------------*/
/** 
 * CONTENTS.........You're reading it! 
 */
/*------------------------------------* 
   $IMPORTS 
*------------------------------------*/
/*------------------------------------* 
   $DEFAULTS 
*------------------------------------*/
/** 
 * Fonts and sizes 
 */
/** 
 * Colors 
 */
/** 
 * Global border-box 
 */
/*------------------------------------* 
   $MIXINS 
*------------------------------------*/
/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
/**
 * Keyframs
 */
/** 
 * Global border-box 
 */
/**
* Let’s make the box model all nice, shall we...?
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font: normal 18px "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
  line-height: 1.5;
  color: #67172b; }

body {
  margin: 0;
  padding: 0; }

.logo {
  display: block;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  width: 500px;
  height: 320px;
  background: transparent url("assets/images/logo.png") top left no-repeat;
  text-indent: -9999px;
  -webkit-background-size: 100%;
  background-size: 100%; }

.nav-arrows {
  font-size: 10px;
  position: absolute;
  right: 30px;
  z-index: 5; }
  .nav-arrows.nav-top {
    top: 30px; }
  .nav-arrows.nav-bottom {
    bottom: 30px !important; }

.nav__arrow {
  display: block;
  margin: .5em 0;
  width: 4em;
  height: 3em;
  text-indent: -9999px;
  position: relative;
  border-bottom: none; }
  .nav__arrow:before, .nav__arrow:after {
    content: '';
    display: block;
    width: .5em;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0.9em;
    border-radius: 1em;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg); }
  .nav__arrow:after {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
    left: 2.6em; }
  .nav__arrow:hover {
    border-bottom: none; }

.nav__arrow--next:before, .nav__arrow--next:after {
  content: '';
  display: block;
  width: .5em;
  height: 100%;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0.9em;
  border-radius: 1em;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg); }
.nav__arrow--next:after {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  left: 2.6em; }

.nav__arrow--white:before, .nav__arrow--white:after {
  background-color: #fff; }

.nav__arrow--red:before, .nav__arrow--red:after {
  background-color: #67172b; }

.header {
  background: #67172b url("assets/images/bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.teaser {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.teaser-text {
  color: #fff;
  font-weight: 300; }

.teaser-btn {
  display: inline-block;
  line-height: 2.2;
  padding: 0 1.5em;
  background-color: #fff;
  text-decoration: none;
  color: #21262c;
  border-radius: 2em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .teaser-btn:hover {
    padding: 0 1.8em; }

/** 
 * Section 
 */
.section {
  position: relative; }
  .section:after {
    content: '';
    display: table;
    clear: both; }

.section--white {
  background-color: #FAFAFA;
  color: #21262c; }

.section--red {
  background-color: #67172b;
  color: #fff; }

.inner {
  padding: 2em; }
  .inner:after {
    content: '';
    display: table;
    clear: both; }

.vote-list {
  max-width: 550px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 2; }

.fb-link {
  border: none;
  background: #306199 url("assets/images/fb.svg") 8px center no-repeat;
  padding: 2px 10px 3px 30px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 4px;
  -webkit-background-size: 10%;
  background-size: 10%;
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease; }
  .fb-link:hover {
    background-color: #3c7ac0;
    border-bottom: none; }

.disclaimer {
  display: block;
  padding-top: 20px;
  color: #d54267; }

/** 
 * Helpers 
 */
.push-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.push--center {
  margin: 0 auto; }

.talign--center {
  text-align: center; }

.johnie {
  border-bottom: none;
  text-transform: uppercase;
  color: #D54267 !important; }
  .johnie:hover {
    color: #fff !important;
    border-bottom: none; }

a {
  color: #67172b;
  text-decoration: none;
  border-bottom: 1px solid #67172b;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 400; }
  a:hover {
    border-bottom: 1px solid transparent;
    color: #21262c; }
  .section--red a {
    color: #fff;
    border-bottom-color: #fff; }

p {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.68; }

/**
 * Grid wrapper
 */
.grid {
  margin-left: -20px;
  list-style: none;
  margin-bottom: 0; }

/**
 * Very infrequently occuring grid wrappers as children of grid wrappers.
 */
.grid > .grid {
  margin-left: 0; }

/**
 * Grid
 */
.grid__item {
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  vertical-align: top;
  float: left; }

/*------------------------------------* 
     $WIDTHS 
*------------------------------------*/
/**
* Whole
*/
.one-whole {
  width: 100%; }

/**
* Halves
*/
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
* Thirds
*/
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
* Quarters
*/
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
* Fifths
*/
.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths {
  width: 80%; }

/**
* Sixths
*/
.one-sixth, .two-twelfths {
  width: 16.666%; }

.five-sixths, .ten-twelfths {
  width: 83.333%; }

/**
* Eighths
*/
.one-eighth {
  width: 12.5%; }

.three-eighths {
  width: 37.5%; }

.five-eighths {
  width: 62.5%; }

.seven-eighths {
  width: 87.5%; }

/**
* Tenths
*/
.one-tenth {
  width: 10%; }

.three-tenths {
  width: 30%; }

.seven-tenths {
  width: 70%; }

.nine-tenths {
  width: 90%; }

/**
* Twelfths
*/
.one-twelfth {
  width: 8.333%; }

.five-twelfths {
  width: 41.666%; }

.seven-twelfths {
  width: 58.333%; }

.eleven-twelfths {
  width: 91.666%; }
