/*------------------------------------* 
   $DEFAULTS 
*------------------------------------*/

/** 
 * Fonts and sizes 
 */
$base-font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif !default;
$base-font-size: 18px;


/** 
 * Colors 
 */
$brand-color: #67172b!default;
$base-color: #21262C!default;


/** 
 * Global border-box 
 */
$global-border-box: true!default;
