/*------------------------------------* 
   $DEFAULTS 
*------------------------------------*/

/** 
 * Fonts and sizes 
 */
$base-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif !default;
$base-font-size: 16px;

$brand-color: #111!default;
