html{
  font: normal $base-font-size $base-font-family;
  line-height: 1.5;
  color: $brand-color;
}

body{
  margin: 0;
  padding: 0;
}

.logo{
  display: block;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  width: 500px;
  height: 320px;
  background: transparent url('assets/images/logo.png') top left no-repeat;
  text-indent: -9999px;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.header{
  background: $brand-color url('assets/images/bg.jpg') center center no-repeat;
  @include vendor(background-size, cover);
}

.teaser{
  position: absolute;
  top: 50%;
  left: 50%;
  @include vendor(transform, translate(-50%, -50%));
  text-align: center;
}

.teaser-text{
  color: #fff;
  font-weight: 300;
}

.teaser-btn{
  display: inline-block;
  line-height: 2.2;
  padding: 0 1.5em;
  background-color: #fff;
  text-decoration: none;
  color: $base-color;
  border-radius: 2em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  @include vendor(transition, all .2s ease);

  &:hover{
    padding: 0 1.8em;
  }
}

/** 
 * Section 
 */

.section{
  position: relative;

  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

.section--white{
  background-color: #FAFAFA;
  color: $base-color;
}

.section--red{
  background-color: $brand-color;
  color: #fff;
}

.inner{
  padding: 2em;

  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

.push-middle{
  position: absolute;
  top: 50%;
  @include vendor(transform, translateY(-50%));
}
